@font-face {
    font-family:'Poppins' ;
    src: url(/study-group-5/asset/Poppins/Poppins-Regular.ttf);
}

*{
    font-family: 'Poppins';
}

body{
   margin: 0;
   padding: 0;
   background-color: white;
}

header{
    width: 100%;
    height: 67px;
    display: flex;
    background-color: #bb1724;  
}

.header-fixed{
    width: 100%;
    height: 100%;
    position: fixed;
}

header nav {
    display: flex;
    justify-content: left;
    align-items: left;
    background-color: #bb1724;
}

header nav ul{
    display: flex;
    margin: 21.5px;
    margin-left: 195px;
    gap: 20px;  
}

header nav ul li{
    display: flex;
    list-style: none;
    font-size: 13.5px;
    gap: 20px;
    color: white;
    font-weight:500;
}

header nav ul .Digital{
    color: rgba(204, 202, 202, 0.63);

}

header nav ul li:hover{
    transition: all .5s ease-in-out;
    color: white;
}

header nav ul .li2{
    display: flex;
    gap: 10px;
    font-weight: bold;  
    margin-left: 20px   ;
}

header nav ul .Gaya{
    font-weight: bold;
    color: white;
    gap: 200px;

}
header nav ul .Gaya2{
    font-weight: bold;
    color: rgba(204, 202, 202, 0.63);
}

header nav img{
    width: 80px;
}

header nav .img1{
    margin-bottom: 20px;
}

header nav .button1{
    width: 160px;
    height: 31px;
    background-color: transparent;
    border: 0.1px solid;
    border-radius: 4.5px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgba(190, 190, 190, 0.679);
    margin-left: 240px;
}

header nav button{
    color: white;
    font-size: 11px;
    font-family: 'Poppins';
}


.header2{
    width: 100%;
    height: 70px;
    display: flex;
    background-color: #ffffff;
    box-shadow: black;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header2 img{
    gap: 20px;
    margin-left: 400px;
}

.header2 .img2 {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header2 nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header2 nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 350px;
    gap: 40px;
}

.header2 nav ul .li3{
    font-weight: bold;
    color: #bb1724;
}


.header2 nav ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(15, 14, 14, 0.668);
    font-size: 13.5px;
    font-weight: bold;
    gap: 50px;
}

.header2 nav ul li a:hover{
    transition: all .5s ease-in-out;
    color: #bb1724;
}

main{
    width: 100%;
    height: 20vh;
    background-color: rgb(255, 255, 255);
    border-bottom: .75rem solid #ffc604;
    position:relative;
}
