@font-face {
    font-family:'Poppins' ;
    src: url(/study-group-5/asset/Poppins/Poppins-Regular.ttf);
}

@keyframes fadeIn {
      from { opacity:0; transform: translateY(-5px); }
      to { opacity:1; transform: translateY(0); }
    }

*{
    font-family: 'Poppins';
}

body{
   margin: 0;
   padding: 0;
   background-color: aliceblue;
<<<<<<< HEAD
}

.header-fixed{
    position: fixed;
     width: 100%;
}

=======
   font-family: 'Poppins';
}

>>>>>>> Galangg
header{
    width: 100%;
    height: 67px;
    display: flex;
    background-color: #bb1724;  
    
}

.header-fixed{
   position: fixed;
    top: 0;
    right: 0;
    width: 100%;
  z-index: 1000;
}

.head{
    width: 100%;
    height: 200px;
}
header nav {
    display: flex;
    justify-content: left;
    align-items: left;
    background-color: #bb1724;
}

header nav ul{
    display: flex;
    margin: 21.5px;
    margin-left: 195px;
    gap: 20px;
}

header nav ul li{
    display: flex;
    list-style: none;
    font-size: 13.5px;
    gap: 20px;
    color: white;
    font-weight:500;
}


header nav ul .Digital{
    color: rgba(204, 202, 202, 0.63);

}

header nav ul li:hover{
    transition: all .5s ease-in-out;
    color: white;
}

header nav ul .li2{
    display: flex;
    gap: 10px;
    font-weight: bold;  
    margin-left: 20px   ;
}

header nav ul .Gaya{
    font-weight: bold;
    color: white;
    gap: 200px;

}
header nav ul .Gaya2{
    font-weight: bold;
    color: rgba(204, 202, 202, 0.63);
}

header nav img{
    width: 80px;
}

header nav .img1{
    margin-bottom: 20px;
}

.button1{
    width: 160px;
    height: 31px;
    background-color: transparent;
    border: 0.1px solid;
    border-radius: 4.5px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgba(190, 190, 190, 0.679);
    margin-left: 240px;
}

header nav button{
    color: white;
    font-size: 11px;
    background-color: transparent;
    border: transparent;
    font-family: 'Poppins';
}


.header2{
    width: 100%;
    height: 70px;
    display: flex;
    background-color: #ffffff;
    box-shadow: black;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-bottom: .75rem solid #ffc604;
}

.header2 img{
    gap: 20px;
    margin-left: 400px;
}

.header2 .img2 {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header2 nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header2 nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 350px;
    gap: 40px;
}

.header2 nav ul .li3{
    font-weight: bold;
    color: #bb1724;
}


.header2 nav ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(4, 4, 4, 0.668);
    font-size: 14px;
    font-weight: bold;
    gap: 45px;
}

.header2 nav ul li a:hover{
    transition: all .5s ease-in-out;
    color: #bb1724;
}

.menu { 
    display:none;
    justify-content: space-between; 
    margin-top: 2.8 ;
    height: 57vh;
    width: 100%; 
    position: absolute; 
    z-index: 1000;      
    background-image: linear-gradient(180deg, #f8f9fb 60%, #fff);
    border-bottom: .75rem solid #ffc604;
    border-radius: 0vh 0vh 15vh 0vh;
    


}
.menu.show { 
    display:block; 
    animation: fadeIn 0.3s ease;
}

#item-h1 { 
    font-size: 3.5vh;
    font-weight: bold;
    font-family: sans-serif;
    color: rgb(67, 65, 65);
    padding:10px; 
    cursor:pointer;
}

#item-p{
    font-size: 2vh;
    padding: 10px;
    color: #717070;
}

#item-a{
   display: block;
   margin: 20px;     
   font-size: 1.9vh;
   transition: color 0.6s ease, transform 0.6s ease; 
}


#item-b{
    display: block;
    margin: 20px;
    font-size: 1.8vh;
    transition: color 0.6s ease, transform 0.6s ease; 
}

#item-a:hover{
    color: #bb1724;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

#item-b:hover{
    color: #bb1724;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.div-1{
    display: flex;
}

.box-card{
    display: block;
}

.card-1{
    width: 70vh;
    height: 200px;
    position: relative;
    margin-left: 200px;
    box-sizing: border-box;
    border-radius: 8vh 0vh 0vh 0vh;
    background-color: #bb1724;
    box-shadow: rgba(0, 0, 0, 0.8) 0px -50px 36px -28px inset;

}   

.card-2{
    width: 70vh;
    height: 210px;
    position: relative;
    background-color: #bb1724;
    margin-left: 200px;
    box-sizing: border-box;
    border-radius: 0vh 0vh 15vh 0vh;
}

.card-3{
    width: 70vh;
    height: 200px;
    position: relative;
    margin-left: 225px;
    box-sizing: border-box;
    border-radius: 8vh 0vh 0vh 0vh;
    background-color: #bb1724;
    box-shadow: rgba(0, 0, 0, 0.8) 0px -50px 36px -28px inset;

}   

.card-4{
    width: 70vh;
    height: 210px;
    position: relative;
    background-color: #bb1724;
    margin-left: 225px;
    box-sizing: border-box;
    border-radius: 0vh 0vh 15vh 0vh;
}

.img-4{
    border-radius: 8vh 0vh 0vh 0vh;
}


.heading{
    display: block;
    margin-top: 50px;
    justify-content: center;
    align-items: end;
    width: 25%;
    background-color: linear-gradient(180deg, #f8f9fb 60%, #fff);
    margin-left: 25vh;
}

.heading2{
    margin-top: 50px;
    padding: 3px;
    background-color: linear-gradient(180deg, #f8f9fb 60%, #fff);
    margin-left: 2vh;
}

.heading3{
    margin-top: 20px;
    padding: 5px;
    background-color: linear-gradient(180deg, #f8f9fb 60%, #fff);
    margin-left: 2vh;
}

.a1{
    display: block;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    width: 27%;
    background-color: #ffffff;
    margin-left: 25vh;
}

.menu #item:hover{ 
    color: aqua;
}

.img-1{
  position: relative;   
  z-index: 1;
  width: 200px;
}


.kotak{
    width: 100%;
    height: 120px;
    background-color: #ffffff;
}

.gambar img{
    border-bottom: .75rem solid #ffc604;
    border-radius: 0vh 0vh 15vh 0vh;
}

.bg{
    width: 100%;
    background-color: white;
    height: 120px;  
}

.promo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    background-color: white;
    
}

.promo-header h1 {
    font-size: 24px;
    margin: 0;
    padding: 40px;
    margin-left: 150px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(76, 76, 76) ;
    font-family: sans-serif;
    }

.promo-header button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 200px;
    border-radius: 2vh 0vh 2vh 0vh; 
    height: 45px;
}

.promo-header button:hover {
    background-color: #003d80;
}

.promo-scroll {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    scrollbar-width: none;
    padding: 20px;
    background-color: white;
}

.promo-scroll2{
    display: flex;
    margin-left: 25vh;
    margin-bottom: 50px
}

    
.promo-item {
    flex: 0 0 auto;
    width: 280px;
    border-radius: 12px;
    overflow: hidden;
}
    

.promo-item img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    display: block;
      
}

main{
    width: 100%;
    height: inherit;
    background-color: rgb(248, 248, 248);
    border-radius: 11vh 0vh 0vh 0vh;
}

.mainn{
    width: 100%;
    height: inherit;
    background-color:white;
    border-radius: 11vh 0vh 0vh 0vh;
}

main h1{
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    padding-top: 15vh;
    font-weight: bold;
}

main nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

main nav ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
}

main nav ul li a{
    font-size: 14px;
    color: #9ca7b2;
    gap: 35px;
    transition: color 0.6s ease, transform 0.6s ease;
   
}

main nav ul li a:hover{
    transition: all .5s ease-in-out;
    color: #bb1724;
}


.textbox{
    display: flex;
    padding-top: 50px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.textbox1{
    display: flex;
    padding-top: 50px;
    gap: 20px;
    padding-left: 30.5vh;
}

.card-5{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 150px;
    background-color: #fff;
    border-radius: 5vh 0vh 5vh 0vh;
    box-shadow: rgba(130, 157, 165, 0.1) 0px 8px 24px;
    cursor: pointer;
}

.card-5 img{
    display: block;
    width: 84px;
}

.y li{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    padding-top: 20px;
}

.product{
    display: flex;
    justify-content: right;
}

.img-8{
    width: 350px;
}
    
.bawah{
    width: 100%;
    background: #005da6 url(/study-group-5/asset/img/member.png) no-repeat 0;
    height: 450px;
    background-size: cover;
    border-radius: 13vh 0 0 0;
    transition: all .5s ease-in-out;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bawah h1{
    font-weight: bolder; 
    font-size: 4vh;
}
.bawah .dua {
    width: 35%;
}
.bawah button{
    background-color: white;
    color: #003b8b;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px 0px 10px 0px;
}
.h1-atas{
    margin-top: 150px;
}

.satu{
    margin-left: 110px;
}

.undian-section {
  max-width: 500px;
  margin-top: 30px;
  padding-bottom: 200px;
}

.undian-section p{
    margin-bottom: 5px;
}

.undian-label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
  font-size: 14px;
}

.undian-select {
  width: 100%;
  padding: 12px 14px;
  font-size: 16px;
  border: 1px solid #3f3f3f;
  border-radius: 8px;
  appearance: none;
  background: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>") no-repeat right 10px center;
  background-color: white;
  background-size: 16px 16px;
  margin-bottom: 20px;
}

.undian-button {
  background-color: #004aad;
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

.undian-button:hover {
  background-color: #003b8b;
}
.main-trakhir .satu .undian-section h1{
  font-weight: bold;
  font-size: xx-large;
}

.main-trakhir{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.undian-section .program{
    font-weight: 600;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    background-color: #bb1724;
    color: #ffffff;
}


footer .alfa ul{
    display: flex;
}

footer .alfa h1{
    font-weight: bold;
}
footer .alfa2 h1{
     font-weight: bold;
}
footer .alfa2 p{
    color: #cccbcb;
}

footer .alfa3  input[type="text"] {
    border: none;
    outline: none;
    padding: 12px 16px;
    background: #b71c1c;          
    color: #fff;                  
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 220px;
    font-size: 16px;
  }

  footer .alfa3 input::placeholder {
    color: rgba(255,255,255,0.6);  
  }

  footer .alfa3 button {
    border: none;
    outline: none;
    background: #fdd835;          
    color: #000;
    padding: 12px 20px;
    cursor: pointer;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    font-size: 18px;
  }
  
   footer .alfa3 ul {
    display: flex;
    gap: 10px;
    align-items: center;

  }

.footer2{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    background: magenta;
}


.footer2 nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

 nav ul li{
    gap: 300px;
}


