@font-face {
    font-family:'Poppins' ;
    src: url(/study-group-5/asset/Poppins/Poppins-Regular.ttf);
}

*{
    font-family: 'Poppins';
}

body{
   margin: 0;
   padding: 0;
}
header{
    width: 100%;
    height: 67px;
    display: flex;
    background-color: #bb1724;  
}
header nav {
    display: flex;
    justify-content: left;
    align-items: left;
    background-color: #bb1724;
}

header nav ul{
    display: flex;
    margin: 21.5px;
    margin-left: 195px;
    gap: 20px;  
}

header nav ul li{
    display: flex;
    list-style: none;
    font-size: 13.5px;
    gap: 20px;
    color: white;
    font-weight:500;
}

header nav ul .Digital{
    color: rgba(204, 202, 202, 0.63);

}

header nav ul li:hover{
    transition: all .5s ease-in-out;
    color: white;
}

header nav ul .li2{
    display: flex;
    gap: 10px;
    font-weight: bold;
}

header nav ul .Gaya{
    font-weight: bold;
    color: white;
}
header nav ul .Gaya2{
    font-weight: bold;
    color: rgba(204, 202, 202, 0.63);
}

header nav img{
    width: 80px;
}

header nav .img1{
    margin-bottom: 20px;
}

header nav ul .button1{
    width: 160px;
    height: 31px;
    background-color: transparent;
    border: 0.1px solid;
    border-radius: 4.5px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgba(190, 190, 190, 0.679);
    margin-left: 240px;
}

header nav ul:hover{
    transition: all .5s ease-in-out;
    color: white;
    display: flex;
}

header nav ul button{
    color: white;
    font-size: 11px;
    font-family: 'Poppins';
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #b71c1c;
  color: white;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn-wrapper {
  display: flex;
  align-items: center; 
}

.alfacare {
  display: flex;
  align-items: flex-end; 
}

.alfacare img {
  height: 30px;
}

.btn-contact {
  border: 1px solid white;
  padding: 6px 12px;
  border-radius: 5px;
  background: transparent;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  
}

.btn-contact:hover {
  background: white;
  color: #b71c1c;
}
